CAMPUSHUB_MYSQL_ROOT_PASSWORD=change-me
CAMPUSHUB_MYSQL_DATABASE=campushub
CAMPUSHUB_MYSQL_USERNAME=campushub
CAMPUSHUB_MYSQL_PASSWORD=change-me
CAMPUSHUB_REDIS_PASSWORD=campushub_dev
CAMPUSHUB_KAFKA_EXTERNAL_PORT=19092
CAMPUSHUB_ELASTICSEARCH_PASSWORD=change-me
CAMPUSHUB_JWT_ACCESS_SECRET=change-me-access-secret
CAMPUSHUB_JWT_REFRESH_SECRET=change-me-refresh-secret
CAMPUSHUB_MINIO_ROOT_USER=minioadmin
CAMPUSHUB_MINIO_ROOT_PASSWORD=change-me
